*, *::before, *::after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*::-moz-selection {
    color: #fff;
    background: #000;
}

html {
    font-size: 18px;
    -webkit-text-size-adjust: 100%;
}
body {
    color: #494e52;
    font-family: -apple-system,"Noto Sans JP",".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    line-height: 1.5;
}
b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a, tr, td, form button, input[type="submit"], .btn, #goog-wm-sb, .highlight, .archive__item-teaser {
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

h1, h2, h3, h4, h5, h6 {
    margin: 2em 0 0.5em;
    line-height: 1.2;
    //font-family: -apple-system,"Noto Sans JP",".SFNSText-Regular","San Francisco","Roboto","Segoe UI","Helvetica Neue","Lucida Grande",Arial,sans-serif;
    font-weight: bold;
}

h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.25em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid #f2f3f3;
}
h3 {
    font-size: 1em;
}

ul li, ol li {
    margin-bottom: 0.5em;
}
a {
    color: #52adc8;
}
.pre_text {
    margin-left: 5px;
    margin-right: 5px;
}
.btn {
  display: inline-block;
  margin: 1px;
  padding: 8px 10px;
  color: #fff;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  background-color: #265A88;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover {
  background-color: #1E486D;
}
.frame {
  border-collapse: separate;
  border-spacing: 0px 10px;
  display: table;
  width: 100%;
}
.box {
  display: table-cell;
  vertical-align: middle;
}
.pie {
  min-width: 100px;
  height: 300px;
  margin: 0 auto;
}
.tree {
  min-width: 100px;
  height: 300px;
  margin: 0 auto;
}
.report_title {
  font-size: 0.9em;
  color: #666;
}

table {
    margin-bottom: 1em;
    width: 100%;
    border-collapse: collapse;
//    border: 1px solid #bdc1c4;
}
thead {
//    background-color: #f2f3f3;
//    border-bottom: 1px solid #bdc1c4;
}
tr, td, th {
    vertical-align: middle;
}
th {
    padding: 0.5em;
    font-weight: bold;
    text-align: left;
//    border-right: 1px solid #bdc1c4;
}
td {
    padding: 0.5em;
//    border-bottom: 1px solid #bdc1c4;
//    border-right: 1px solid #bdc1c4;
}

table.common {
    border: 1px solid #bdc1c4;
}
thead.common {
    background-color: #f2f3f3;
    border-bottom: 1px solid #bdc1c4;
}
th.common {
    border-right: 1px solid #bdc1c4;
}
td.common {
    border-bottom: 1px solid #bdc1c4;
    border-right: 1px solid #bdc1c4;
}